html, body {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

.lg {
    margin-top: 89px;
    height: 233px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.gb {
    position: relative;
    top: 16px;
    height: 30px;
    width: 100%;
    margin: 0; 
    padding : 0;
}

.logo {
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 109px;
}

.leftnav {
    position: relative;
    margin: 7px 0px 0px 10px;
    width: 98.67px;
    height: 15.5px;
    float: left;
}

.rightnav {
    position: relative;
    left: -10px;
    width: 241.6px;
    height: 30px;
    float: right;
    padding: 0px 30px 0px 30px;
}

ul.leftnavtext {
    margin: 7px 0px 0px 10px;
    list-style-type: none;
    padding:0;
    margin:0;
    font-size: 13px;
}

ul.leftnavtext li {
    color: #000;
    display: inline;
    opacity: .75;
}

ul.leftnavtext li a {
    padding-left: 15px;
    text-decoration: none;
    color: #000;
}

ul.leftnavtext li a:hover {
    padding-left: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
    text-decoration: underline;

}

ul.rightnavtext {
    margin: 7px 0px 0px 10px;
    height: 24px;
    list-style-type: none;
    padding:0;
    font-size: 13px;
}

ul.rightnavtext li {
    color: #000;
    float: left;
}

ul.rightnavtext li a {
    display: block;
    padding-left: 15px;
    text-decoration: none;
    color: #000;
}

ul.rightnavtext li a:hover {
    padding-left: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);
    text-decoration: underline;

}

.searchform {
    clear:both;
    height: 129px;
    width: 100%;
    position: absolute;
    top: 300px;
    margin: 0 auto;
    padding:0;
}

.searchcontainer {
    position: relative;
    top: 15px;
    left: 5px;
    width: 584px;
    height: 44px;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px rgb(233, 233, 233) solid;
    box-shadow: 0 2px 5px #DDDDDD;
}

.searchbox {
    border-radius: 3px;
    width: 503px;
    height: 39px;
    padding: 5px 9px 0px 16px;
    display: block;
    float:left;
}

.voicesearch {
    width: auto;
    margin-left: 503px;
    height:44px;
}

.voicesearch img {
    position: relative;
    top: 10px;
    width: 15px;
    height: auto;
    object-fit: contain;
    display:block;
    margin:auto;
}

form.search input {
    width: 503px;
    height: 34px;
    border: none;
    font-family: arial, sans-serif;
    font-size: 16px;
}

form.search input:focus {
    outline:none;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.apps {
    padding-left: 18px;
    position: relative;
    bottom: 3px;
}

.bell {
    padding-left: 18px;
    position: relative;
    bottom: 3px;
    padding-right: 5px;
}

img.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    image-rendering: crisp-edges;

}

li img.profile {
    position: relative;
    bottom: 5px;
    left: 15px;
}

.buttoncontainer {
    width: 571px;
    height: 58px;
    margin: 0 auto;
    clear: both;
    position: relative;
    top: 25px;
}

.buttoncontainer button {
    padding: 0px 16px;
    height: 36px;
    margin: 20px 0px;
    position: relative;
    border: 1px rgb(255, 255, 255);
    color: rgb(117,117,117);
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(242,242,242);
}

.buttoncontainer button:hover {
    padding: 0px 16px;
    height: 36px;
    margin: 20px 0px;
    position: relative;
    border: 1px rgb(255, 255, 255);
    color: rgb(34,34,34);
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(242,242,242);
    box-shadow: rgba(0,0,0,0.1) 0px 1px 1px 0px;
    border: 1px rgba(110, 110, 110, 0.466) solid;
}

.buttonswrapper {
    width: 280px;
    height: 58px;
    margin: 0 auto;
    position: relative;
}

.buttona {
    float: left;
    width: 129.75px;
}

.buttonb {
    float: right;
}

.lb {
    position: absolute;
    bottom:0;
    height: 40px;
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px rgba(128, 128, 128, 0.205) solid;
}

.bottomnavleft {
    font-size: 12px;
    position: relative;
    top: 7px;
    float: left;
    width: 200px;
}


.bottomnavright {
    font-size: 12px;
    float: right;
    position: relative;
    top:6px;
    right: 3px;
    color: #000;
    opacity: 0.75;
}

.bottomnavright li {
    padding-left: 15px;
}





